{% load static %}

<!--<html>-->
<!--<head>-->
    <link rel="stylesheet" href="{% static 'todo/loginuser.css' %}">
{{error}}
<div class="login-page">
  <div class="form">
    <form action="{%url 'loginuser' %}" class="login-form" method="post">
      {% csrf_token %}
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="{%url 'signupuser' %}">Create an account</a></p>
    </form>
  </div>
</div>
<!--</head>-->
<!--</html>-->